@use 'variables' as v;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }
  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }
  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }
  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xk) {
      @content;
    }
  }
}

@mixin button() {
  color: v.$white;
  background-color: v.$dark-blue;
  padding: 10px 20px;
  border-radius: 20px/20px;
  border: none;
  &:hover {
    box-shadow: inset 0 0 0 2px v.$dark-blue;
    font-weight: 800;
    color: v.$dark-blue;
    background-color: transparent;
  }
}
