$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xk: 1440px;

$primary-font: "Poppins", sans-serif;
$secondary-font: "Nunito Sans", sans-serif;

$dark-blue: #264065;
$gray: #FAF8F5;
$white: #FFFFFF;
$cyan: #A9D6CB;
$dark-gray: #909090;
$black: #070D15;

$text-size: 12px;
$subtitle-size: 17px;
$title-size: 48px;

