@use '../abstracts/variables' as v;

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, transparent 82%, v.$white 82%), linear-gradient(to right, v.$gray 68%, v.$cyan 68%);
    background-repeat: no-repeat;
    background-size: contain, contain;
    background-position: top left, top left;
}