@use '../abstracts/variables' as v;

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;

    .logo {
        margin: 33px 0;
        a {
            display: flex;
            align-items: center;
        }
        img {
            width: 160px;
        }
    }

    .main-header-menus {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 200px;

        &-principal-nav ul {
            display: flex;
            align-items: center;
            gap: 50px;

            a{
                color: v.$dark-blue;

                &:hover {
                    font-weight: 600;
                }
            }
            
        }

        &-secondary-nav ul {
            display: flex;
            align-items: center;
            gap: 30px;

            li:first-of-type img {
                width: 20px;
            }

            li:nth-of-type(2) img{
                width: 15px;
            }

            li:last-of-type {
                a{
                    font-family: v.$secondary-font;
                }

                a:first-of-type {
                    text-decoration: underline;
                    padding: 10px 20px;
                    color: v.$dark-blue;
                    &:hover {
                        font-weight: 800;
                    }
                }


        }

    }
} 

}